@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    font-size: 16px;
    font-family: Poppins;
}
@media (max-width: 850px) {
    html
    {
        font-size: 12px;
    }
}
@media (max-width: 650px) {
    html
    {
        font-size: 10px;
    }
}
@media (max-width: 450px) {
    html
    {
        font-size: 8px;
    }
}
@media (max-width: 250px) {
    html
    {
        font-size: 6px;
    }
}


.wrapper
{
    /* height: 100vh; */
    background-image: url("images/galaxy.gif");
    font-family: Poppins;
}

.h1
{
    font-weight: 600;
}

.data-field-input
{
    height: 2.5rem;
    width: 12.5rem;
    outline: none;
}
.data-field-select
{
    height: 2.5rem;
    width: 12.5rem;
    outline: none;
}

.container-planet
{
    position: relative;
    opacity: .4;
}
.flex-two
{
    flex: 30%;
}
